[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-pspec = "*"
pytest-watch= "*"
pytest-coverage = "*"
pylint = "*"
typing-extensions = "*"

[requires]
python_version = "3"
#python_full_version = "3.9.6"

[scripts]
linterCheck = "pylint -f msvs modules"
coverage = "pytest tests/unit tests/integration tests/e2e --cov-report term --cov='.' --cov-report html --cov='.' --cache-clear --rootdir='.'"
